{
    "extends": ["stylelint-config-standard-scss", "stylelint-config-prettier-scss"],
    "plugins": ["stylelint-order"],
    "rules": {
        "selector-class-pattern": null,
        "max-nesting-depth": 2,
        "order/order": ["custom-properties", "declarations"],
        "order/properties-order": [
            "display",
            "flex-direction",
            "justify-content",
            "align-items",
            "flex-wrap",
            "flex-grow",
            "flex-shrink",
            "position",
            "top",
            "right",
            "bottom",
            "left",
            "width",
            "min-width",
            "max-width",
            "height",
            "min-height",
            "max-height",
            "margin",
            "margin-top",
            "margin-right",
            "margin-bottom",
            "margin-left",
            "padding",
            "padding-top",
            "padding-right",
            "padding-bottom",
            "padding-left",
            "text-align",
            "font-size",
            "font-weight",
            "line-height",
            "color",
            "background",
            "background-color",
            "background-image",
            "background-repeat",
            "background-attachment",
            "background-position",
            "background-size",
            "border",
            "border-top",
            "border-right",
            "border-bottom",
            "border-left",
            "border-radius",
            "cursor",
            "z-index"
        ]
    }
}
