@import '~styles/vars';

.button {
    display: inline-block;
    width: 100%;
    padding: 16px 36px;
    text-align: center;
    font-size: 17px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    background-color: $primary;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-style: normal;
    letter-spacing: 0;
    font-family: inherit;
    transition: background-color ease 0.2s;

    span {
        display: inline-block;
        vertical-align: bottom;
        font-weight: 800;
    }

    &:hover {
        background-color: $primary-hover;
    }

    &:active {
        background-color: $primary-active;
    }

    &:disabled {
        opacity: 0.7;
        cursor: default;
    }

    &:hover.button:disabled,
    &:active.button:disabled {
        background-color: $primary;
        cursor: default;
    }
}
