// VARIABLES

$primary: rgba(47, 116, 192, 1);
$primary-hover: rgba(47, 116, 192, 0.8);
$primary-active: rgba(47, 116, 192, 1);
$color-secondary: #eff5fa;
$secondary: rgb(52 120 188 / 8%);

// Text
$text-01: rgb(27 31 59 / 80%);
$desktop-breakpoint: 1160px;
$mobile-container: 342px;
$ipad-portrait: 768px;
$ipad-landscape: 1024px;
