@import '~styles/vars';

.todo-list {
    &__header {
        margin-bottom: 32px;
        line-height: 37px;
        cursor: pointer;
        outline-color: blue;
    }

    &__check-group {
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin-top: 52px;
        margin-right: 20px;
    }
}
