@import '~styles/vars';

.create-todo {
    margin-bottom: 32px;
    @media (min-width: $ipad-portrait) {
        display: flex;
        align-items: flex-start;
    }

    .input {
        margin-bottom: 16px;
        @media (min-width: $ipad-portrait) {
            margin-bottom: 0;
        }
    }

    .button {
        @media (min-width: $ipad-portrait) {
            flex-shrink: 0;
            width: auto;
            margin-left: 16px;
        }
    }
}
