@import '~styles/vars';

.app {
    width: 100%;
    min-height: calc(100vh + 1px);
    margin: 0 auto;
    padding: 52px 16px;

    @media (min-width: $ipad-portrait) {
        width: 800px;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }

    &__head-img {
        display: block;
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }

    &__head-img--redux {
        width: 54px;
        object-fit: cover;
    }

    &__title {
        font-size: 50px;
        line-height: 50px;
        text-align: center;
        @media (min-width: $ipad-portrait) {
            font-size: 50px;
            line-height: 50px;
        }
    }
}
